@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//projectTrailer.jsx css
.main{
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  text-align: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0.3em;
}
.p1, .p2{
  margin: 0.5em;
  padding: 0.5em;
  background-color: olive;
}
.link{
  text-decoration: none;
  color: black;
}
.butn{
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 0.8em;
}
//projectTrailer.jsx css ends here
