@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*---------------------------------------------
// Loader Starts
---------------------------------------------*/
.loader{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
/*---------------------------------------------
// Loader Ends
---------------------------------------------*/



/*---------------------------------------------
// Members Card Starts
---------------------------------------------*/
.box:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footerHeading:hover{
  cursor: default;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.text:hover{
  cursor: pointer;
  transform: translate(2%);
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.icon:hover{
  transform: scale(1.5);
  filter: brightness(60%);
  transition: all 0.2s ease-in-out;
}

.button:hover{
  transform: scale(1.1);
  // filter: brightness(60%);
  transition: all 0.3s ease-in-out;
}
/*---------------------------------------------
// Members Card Ends
---------------------------------------------*/



/*---------------------------------------------
// Media Queries Starts
---------------------------------------------*/
@media(max-width: 768px){

  html{
      font-size: 70%;
    }
  }
/*---------------------------------------------
// Media Queries Ends
---------------------------------------------*/



/*---------------------------------------------
// projectTrailer Starts
---------------------------------------------*/
.flip-boxes {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}
.flip-box {
  cursor: pointer;
  display: flex;
  align-content: stretch;
  min-height: 200px;
  flex-wrap: wrap;
  position: relative;
  border: 10px solid transparent;
  padding:0;
  border-top: 0;
  -webkit-perspective: 1000;
          perspective: 1000;
  
  &:hover {
    .back {
      transform: rotateY(0deg);
      z-index: 10;
    }
    
    .front {
      transform: rotateY(180deg);
      z-index: -1;
    }
    
  }
  
  .back, .front {
    position: relative;
    background-color: #1b2d61;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 0 0 100%;
    -webkit-transition: all 1.5s cubic-bezier(.5,1,.5,1);
    transition: all 1.5s cubic-bezier(.5,1.3,.5,1.3);
    transform-style: preserve-3d;
    background-size: cover;
    background-position: center;
  }
  
  .back {
    background-color: #212529;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    transform: rotateY(-180deg);
    box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e, inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225, 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      border: 15px solid transparent;
      border-bottom-color: #212529;
      border-left-color: #212529;
      box-shadow: 1px 1px #212529;
    }
  }
  
  .front {
    z-index: 10;
    box-shadow: 10px 10px 19px #0d0f11d5,-10px -10px 19px #313336, 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;

    
    .content {
      font-size: 2rem;
    }
    
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 2.5rem;
      height: 2.5rem;
      border: 15px solid #cecece;
      border-bottom-color: #212529;
      border-right-color: #212529;
      box-shadow: 1px 1px #212529;
    }
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    text-shadow: 4px 4px 2px black;
  
  }
}

.gitIcon {
  cursor: pointer;
  bottom: 20px;
  right: 20px;

  border-radius: 8px;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: black;
  color: #c4cfde;
  box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e, inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225, 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  animation: fade 2s;
}

.gitIcon:hover {
  border-radius: 50%;
  background-color: #c4cfde;
  color: #212428;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
/*---------------------------------------------
// projectTrailer Ends
---------------------------------------------*/



/*---------------------------------------------
// back to top button Starts
---------------------------------------------*/
.back-to-top {
  z-index: 100;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;

  border-radius: 8px;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  background: black;
  color: #c4cfde;
  box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e, inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225, 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  animation: fade 2s;
}

@keyframes fade{
  from{
    bottom: 0px;
    opacity: 0;
  }
  to{
    bottom: 20px;
    opacity: 1;
  }
}

.back-to-top:hover {
  border-radius: 50%;
  background-color: #c4cfde;
  color: #212428;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}
/*---------------------------------------------
// back to top button Ends
---------------------------------------------*/



/*---------------------------------------------
// Navbar Starts
---------------------------------------------*/
nav{
  position: fixed;
  top: 0;
  display: flex;
  height: 64px;
  width: 100%;
  background: rgba(27, 27, 27, 0.8);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 6rem;
  flex-wrap: wrap;
  z-index: 100;
}
nav .logo{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  // justify-content: center;
  // align-items: baseline;
  transform: translateY(25%);
  padding-left: 0;
}
nav ul li{
  margin: 0 0.32rem;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 0.92rem;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #ea580c;
  background: #fff;
  text-decoration: none;
  font-weight: 800;
}
nav .menu-btn .hamburger{
  color: #fb923c;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
nav .menu-btn .hamburger2{
  color: #fb923c;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.hamburger:hover, .hamburger2:hover{
  transform: scale(1.3);
  filter: brightness(60%);
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"]{
  display: none;
}
.loginBtn{
  color: #ea580c;
  background: #fff;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.4rem 0.92rem;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.loginBtn:hover{
  color: #ea580c;
  text-decoration: none;
}


@media (max-width: 1000px){
  nav{
    padding: 0 2rem;
    background-color: #111;
    backdrop-filter: none;
  }
}

@media (max-width: 920px) {
  nav .menu-btn .hamburger{
    display: block;
  }
  // #click:checked ~ .menu-btn .hamburger:before{
  //   content: "\f00d";
  // }
  #click:checked ~ .menu-btn .hamburger{
    display: none;
  }
  #click:checked ~ .menu-btn .hamburger2{
    display: block;
  }
  nav ul{
    position: fixed;
    // position: absolute;
    top: -16.8%;
    // top: 50%;
    left: -100%;
    // background: #111;
    background: rgba(27, 27, 27, 0.8);
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: -1;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 2.5rem 0;
  }
  nav ul li a{
    width: 90%;
    margin: auto;
    // margin-left: -100%;
    display: block;
    // margin-left: -11px;
    color: #f2f2f2;
    // text-align: center;
    // align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.8rem 0;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #ea580c;
    background: #fff;
    font-weight: 900;
  }
  .divider, .logoForComp, .loginComp{
    display: none !important;
  }
  .logoForMob, .user{
    display: inline !important;
  }
  .user{
    color: #fb923c;
    font-size: 23px !important;
  }
}
/*---------------------------------------------
// Navbar Ends
---------------------------------------------*/



/*---------------------------------------------
// SwiperJS Starts
---------------------------------------------*/
.swiper-button-prev, .swiper-button-next {
  color: red;
}
/*---------------------------------------------
// SwiperJS Ends
---------------------------------------------*/



/*---------------------------------------------
// Login Page Starts
---------------------------------------------*/
.containerLogin{
  position: relative;
  display: flex;
  flex-direction:column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, #23272b, #1e2024);
}
.img{
  position: relative;
  top: -50%;
  left: -8%;
  display:flex; 
  width: 100%;
  height: 100%;
  white-space:nowrap;
  font-size: 100px;
  transform:rotate(-30deg);
}
.img div{
  white-space: nowrap;
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
.img div:nth-child(2){
  white-space: nowrap;
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate1{
  0%{
      transform:translateX(100%);
  }
  100%{
      transform: translateX(-100%);
  }
}
@keyframes animate2{
  0%{
      transform:translateX(0%);
  }
  100%{
      transform: translateX(-200%);
  }
}
.img > div >.i{
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  padding: 0.5px;
  user-select: none;
  cursor:pointer
}
.img > div >.i:hover{
  color:#b56d19;
  text-shadow: 0 0 120px #b56d19;
}
.login-container{
  padding: 2rem 0.5rem;
  position: absolute;
  top: 15%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#b56d19;
  box-shadow: 10px 10px 19px #1c1e22,-10px -10px 19px #262a2e, inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225, 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}
@media screen and (max-width: 1400px){
  .login-container{
      width: 50%;
      left: 25%;
  } 
} 
@media screen and (max-width: 750px){
  .login-container{
      width: 80%;
      left: 10%;
  }
  
}
@media screen and (max-width: 450px){
  .login-container{
      width: 96%;
      left: 2%;
  }
  
}

form{
  width: 100%;
  padding: 0 30px;
}
form h2{
  font-size: 2.9rem;
  margin: 15px 0;
}
.avt{
  height: 100px;
  width: 100px;
}
.input-div{
  display: flex;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #333;
}

.input-div .one{
  margin-top: 0;
}
.two{
  margin-bottom: 4px;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.input-div > div{
  position: relative;
}
.holder{
  width: 80%;
  margin-left: 0.1rem;
}
.input{
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  border: none;
  color: #b56d19;
  background:none;
  font-size: 1.2rem;
  outline: none;
  padding: 0.7rem;
}
.btnLogin{
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  margin: 1rem 0;
  border-radius:25px;
  background:#b56d19;
}
.btn:hover{
  cursor:pointer;
}
/*---------------------------------------------
// Login Page Ends
---------------------------------------------*/







/*---------------------------------------------
// Project Page Starts
---------------------------------------------*/
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  // min-height: 80vh;
  flex-wrap: wrap;
}
.boxProject{
  width: 350px;
  height: 350px;
  margin: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  flex-direction: column;
  color: #b56d19;
  position: relative;
  overflow: hidden;
}
.boxProject img{
  width: 260px;
  height: 260px;
  border-radius: 50px;
}
/* arrow */
.arr_container, .cancel{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #b56d19;
  bottom: 0;
  right: 0;
  border-radius: 23px 0 23px 0;
  color:#212428;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
}
.cancel{
  background:#212428;
  color:#b56d19;
  width: 60px;
  height: 60px;
}
.arr_container .i{
  transform: rotate(45deg);
}
.cancel .i{
  font-size: 1.2em;
  margin-left: -18%;
  margin-top: -18%;
}
.active_arr{
  transform: translate(80%, 80%);
}
.left_container{
  position: absolute;
  background: #b56d19;
  width: 100%;
  height: 100%;
  color: black;
  border-radius: 23px;
  padding: 10px;
  transition: all .4s;
  flex-direction: column;
}
.off{
  transform: translate(-85%, -85%) rotate(90deg);
}
.active{
  transform: translate(0) rotate(0);
}
.left_container p{
  margin: 0 15px 15px;
  font-size: 1.1rem;
}
.left_container .icons{
  font-size: 1.6rem;
  margin-top: 10px;
}
.left_container .icons a {
  color: #b56d19;
  background-color: #212428;
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
  width: 120px;
  height:60px;
  text-decoration: none;
  border-radius: 25px;
  transition: all .4s;
}
.left_container .icons a:hover{
  color: #c4cfde;
}
@media screen and (max-width:420px){
  .boxProject{
      width:65vw;
      height:65vw;
  }
  .boxProject img{
      width:50vw;
      height:50vw;
  }
  .arr_container, .cancel{
      width:30px;
      height:30px;
      font-size: 1.2rem;
      border-radius: 10px 0 10px 0;
  }
  .left_container p{
      margin: 10px;
      font-size: 0.8rem;
  }
  
  .left_container .icons{
      font-size: 1.2rem;
  }
}
/*---------------------------------------------
// Project Page Ends
---------------------------------------------*/


